tablet()
  @media screen and (max-width: 800px)
    { block }

mobile()
  @media screen and (max-width: 650px)
    { block }

theme_dark()
  @media (prefers-color-scheme: dark)
    { block }

theme_light()
  @media (prefers-color-scheme: light)
    { block }
