@font-face {
  font-family: 'iconfont';  /* project id 249456 */
  src: url('../font/iconfont/iconfont.eot');
  src: url('../font/iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont/iconfont.woff2') format('woff2'),
  url('../font/iconfont/iconfont.woff') format('woff'),
  url('../font/iconfont/iconfont.ttf') format('truetype'),
  url('../font/iconfont/iconfont.svg#iconfont') format('svg');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
  local('JetBrains Mono Regular'),
  local('JetBrainsMono-Regular'),
  url('/font/jetbrains-mono/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
  local('JetBrains Mono Bold'),
  local('JetBrainsMono-Bold'),
  url('/font/jetbrains-mono/JetBrainsMono-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
  local('JetBrains Mono Italic'),
  local('JetBrainsMono-Italic'),
  url('/font/jetbrains-mono/JetBrainsMono-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
  local('JetBrains Mono Bold Italic'),
  local('JetBrainsMono-BoldItalic'),
  url('/font/jetbrains-mono/JetBrainsMono-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
  local('Roboto'),
  local('Roboto-Regular'),
  url('/font/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
  local('Roboto Bold'),
  local('Roboto-Bold'),
  url('/font/roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
  local('Roboto Italic'),
  local('Roboto-Italic'),
  url('/font/roboto/Roboto-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
  local('Roboto Bold Italic'),
  local('Roboto-BoldItalic'),
  url('/font/roboto/Roboto-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src:
  local('Noto Sans CJK SC'),
  local('NotoSansCJKsc-Regular');
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src:
  local('Noto Sans CJK SC Bold'),
  local('NotoSansCJKsc-Bold');
}

@font-face {
  font-family: 'Microsoft YaHei';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src:
  local('Microsoft YaHei'),
  local('MicrosoftYaHei-Regular');
}

@font-face {
  font-family: 'Microsoft YaHei';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src:
  local('Microsoft YaHei Bold'),
  local('MicrosoftYaHei-Bold');
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
