{% extends "_layout.njk" %}
{% import '_partial/post.njk' as postPage with context %}

{% block title %} {{ page.title }} · {{ config.title }} {% endblock %}

{% block main %}
    {{ postPage.render(page) }}
{% endblock %}
