<footer class="footer syuanpi fadeIn" id="footer">
  <hr>
  <div class="footer-wrapper">
    <div class="left">
      {% include "_partial/_footer/contact.njk" %}
    </div>
    <div class="right">
      {% include "_partial/_footer/copyright.njk" %}
    </div>
  </div>
</footer>