<header class="header" id="header">
  <div class="header-wrapper">
    {% include "_partial/_header/logo.njk" %}
    {% include "_partial/_header/nav.njk" %}
  </div>
</header>
{% include "_partial/_header/mobile.njk" %}
{% if theme.scheme == 'balance' %}
  {% include "_partial/_feature/balance.njk" %}
{% endif %}
