:root,
:host {
  --color-cat-rosewater: light-dark(rgb(var(--color-cat-latte-rosewater)), rgb(var(--color-cat-frappe-rosewater)));
  --color-cat-flamingo: light-dark(rgb(var(--color-cat-latte-flamingo)), rgb(var(--color-cat-frappe-flamingo)));
  --color-cat-pink: light-dark(rgb(var(--color-cat-latte-pink)), rgb(var(--color-cat-frappe-pink)));
  --color-cat-mauve: light-dark(rgb(var(--color-cat-latte-mauve)), rgb(var(--color-cat-frappe-mauve)));
  --color-cat-red: light-dark(rgb(var(--color-cat-latte-red)), rgb(var(--color-cat-frappe-red)));
  --color-cat-maroon: light-dark(rgb(var(--color-cat-latte-maroon)), rgb(var(--color-cat-frappe-maroon)));
  --color-cat-peach: light-dark(rgb(var(--color-cat-latte-peach)), rgb(var(--color-cat-frappe-peach)));
  --color-cat-yellow: light-dark(rgb(var(--color-cat-latte-yellow)), rgb(var(--color-cat-frappe-yellow)));
  --color-cat-green: light-dark(rgb(var(--color-cat-latte-green)), rgb(var(--color-cat-frappe-green)));
  --color-cat-teal: light-dark(rgb(var(--color-cat-latte-teal)), rgb(var(--color-cat-frappe-teal)));
  --color-cat-sky: light-dark(rgb(var(--color-cat-latte-sky)), rgb(var(--color-cat-frappe-sky)));
  --color-cat-sapphire: light-dark(rgb(var(--color-cat-latte-sapphire)), rgb(var(--color-cat-frappe-sapphire)));
  --color-cat-blue: light-dark(rgb(var(--color-cat-latte-blue)), rgb(var(--color-cat-frappe-blue)));
  --color-cat-lavender: light-dark(rgb(var(--color-cat-latte-lavender)), rgb(var(--color-cat-frappe-lavender)));
  --color-cat-text: light-dark(rgb(var(--color-cat-latte-text)), rgb(var(--color-cat-frappe-text)));
  --color-cat-subtext1: light-dark(rgb(var(--color-cat-latte-subtext1)), rgb(var(--color-cat-frappe-subtext1)));
  --color-cat-overlay2: light-dark(rgb(var(--color-cat-latte-overlay2)), rgb(var(--color-cat-frappe-overlay2)));
  --color-cat-overlay1: light-dark(rgb(var(--color-cat-latte-overlay1)), rgb(var(--color-cat-frappe-overlay1)));
  --color-cat-overlay0: light-dark(rgb(var(--color-cat-latte-overlay0)), rgb(var(--color-cat-frappe-overlay0)));
  --color-cat-surface2: light-dark(rgb(var(--color-cat-latte-surface2)), rgb(var(--color-cat-frappe-surface2)));
  --color-cat-base: light-dark(rgb(var(--color-cat-latte-base)), rgb(var(--color-cat-frappe-base)));
  --color-cat-latte-rosewater: 220, 138, 120;
  --color-cat-latte-flamingo: 221, 120, 120;
  --color-cat-latte-pink: 234, 118, 203;
  --color-cat-latte-mauve: 136, 57, 239;
  --color-cat-latte-red: 210, 15, 57;
  --color-cat-latte-maroon: 230, 69, 83;
  --color-cat-latte-peach: 254, 100, 11;
  --color-cat-latte-yellow: 223, 142, 29;
  --color-cat-latte-green: 64, 160, 43;
  --color-cat-latte-teal: 23, 146, 153;
  --color-cat-latte-sky: 4, 165, 229;
  --color-cat-latte-sapphire: 32, 159, 181;
  --color-cat-latte-blue: 30, 102, 245;
  --color-cat-latte-lavender: 114, 135, 253;
  --color-cat-latte-text: 76, 79, 105;
  --color-cat-latte-subtext1: 92, 95, 119;
  --color-cat-latte-subtext0: 108, 111, 133;
  --color-cat-latte-overlay2: 124, 127, 147;
  --color-cat-latte-overlay1: 140, 143, 161;
  --color-cat-latte-overlay0: 156, 160, 176;
  --color-cat-latte-surface2: 172, 176, 190;
  --color-cat-latte-surface1: 188, 192, 204;
  --color-cat-latte-surface0: 204, 208, 218;
  --color-cat-latte-base: 239, 241, 245;
  --color-cat-latte-mantle: 230, 233, 239;
  --color-cat-latte-crust: 220, 224, 232;
  --color-cat-frappe-rosewater: 242, 213, 207;
  --color-cat-frappe-flamingo: 238, 190, 190;
  --color-cat-frappe-pink: 244, 184, 228;
  --color-cat-frappe-mauve: 202, 158, 230;
  --color-cat-frappe-red: 231, 130, 132;
  --color-cat-frappe-maroon: 234, 153, 156;
  --color-cat-frappe-peach: 239, 159, 118;
  --color-cat-frappe-yellow: 229, 200, 144;
  --color-cat-frappe-green: 166, 209, 137;
  --color-cat-frappe-teal: 129, 200, 190;
  --color-cat-frappe-sky: 153, 209, 219;
  --color-cat-frappe-sapphire: 133, 193, 220;
  --color-cat-frappe-blue: 140, 170, 238;
  --color-cat-frappe-lavender: 186, 187, 241;
  --color-cat-frappe-text: 198, 208, 245;
  --color-cat-frappe-subtext1: 181, 191, 226;
  --color-cat-frappe-subtext0: 165, 173, 206;
  --color-cat-frappe-overlay2: 148, 156, 187;
  --color-cat-frappe-overlay1: 131, 139, 167;
  --color-cat-frappe-overlay0: 115, 121, 148;
  --color-cat-frappe-surface2: 98, 104, 128;
  --color-cat-frappe-surface1: 81, 87, 109;
  --color-cat-frappe-surface0: 65, 69, 89;
  --color-cat-frappe-base: 48, 52, 70;
  --color-cat-frappe-mantle: 41, 44, 60;
  --color-cat-frappe-crust: 35, 38, 52;
}

pre.shiki span.variable:not(.space) {
  color: var(--color-cat-text)
}

pre.shiki span.variable.builtin:not(.space) {
  color: var(--color-cat-red)
}

pre.shiki span.variable.parameter:not(.space) {
  color: var(--color-cat-maroon)
}

pre.shiki span.variable.member:not(.space) {
  color: var(--color-cat-blue)
}

pre.shiki span.variable.special:not(.space) {
  color: var(--color-cat-red)
}

pre.shiki span.constant:not(.space),
pre.shiki span.constant.builtin:not(.space) {
  color: var(--color-cat-peach)
}

pre.shiki span.constant.macro:not(.space) {
  color: var(--color-cat-mauve)
}

pre.shiki span.module:not(.space) {
  color: var(--color-cat-yellow)
}

pre.shiki span.label:not(.space) {
  color: var(--color-cat-sapphire)
}

pre.shiki span.string:not(.space) {
  color: var(--color-cat-green)
}

pre.shiki span.string.documentation:not(.space) {
  color: var(--color-cat-teal)
}

pre.shiki span.string.regexp:not(.space) {
  color: var(--color-cat-peach)
}

pre.shiki span.string.escape:not(.space),
pre.shiki span.string.special:not(.space),
pre.shiki span.string.special.path:not(.space) {
  color: var(--color-cat-pink)
}

pre.shiki span.string.special.symbol:not(.space) {
  color: var(--color-cat-flamingo)
}

pre.shiki span.string.special.url:not(.space) {
  color: var(--color-cat-rosewater)
}

pre.shiki span.character:not(.space) {
  color: var(--color-cat-teal)
}

pre.shiki span.character.special:not(.space) {
  color: var(--color-cat-pink)
}

pre.shiki span.boolean:not(.space),
pre.shiki span.number:not(.space),
pre.shiki span.number.float:not(.space) {
  color: var(--color-cat-peach)
}

pre.shiki span.tag:not(.space) {
  color: var(--color-cat-blue)
}

pre.shiki span.tag.attribute:not(.space) {
  color: var(--color-cat-yellow)
}

pre.shiki span.tag.delimiter:not(.space) {
  color: var(--color-cat-teal)
}

pre.shiki span.type:not(.space) {
  color: var(--color-cat-yellow)
}

pre.shiki span.type.builtin:not(.space) {
  color: var(--color-cat-mauve)
}

pre.shiki span.type.definition:not(.space),
pre.shiki span.type.interface:not(.space),
pre.shiki span.type.super:not(.space) {
  color: var(--color-cat-yellow)
}

pre.shiki span.attribute:not(.space) {
  color: var(--color-cat-peach)
}

pre.shiki span.property:not(.space),
pre.shiki span.function:not(.space) {
  color: var(--color-cat-blue)
}

pre.shiki span.function.builtin:not(.space) {
  color: var(--color-cat-peach)
}

pre.shiki span.function.call:not(.space) {
  color: var(--color-cat-blue)
}

pre.shiki span.function.macro:not(.space) {
  color: var(--color-cat-teal)
}

pre.shiki span.function.method:not(.space),
pre.shiki span.function.method.call:not(.space) {
  color: var(--color-cat-blue)
}

pre.shiki span.constructor:not(.space) {
  color: var(--color-cat-flamingo)
}

pre.shiki span.operator:not(.space) {
  color: var(--color-cat-sky)
}

pre.shiki span.keyword:not(.space),
pre.shiki span.keyword.modifier:not(.space),
pre.shiki span.keyword.type:not(.space),
pre.shiki span.keyword.coroutine:not(.space),
pre.shiki span.keyword.function:not(.space),
pre.shiki span.keyword.operator:not(.space),
pre.shiki span.keyword.import:not(.space),
pre.shiki span.keyword.repeat:not(.space),
pre.shiki span.keyword.return:not(.space),
pre.shiki span.keyword.debug:not(.space),
pre.shiki span.keyword.exception:not(.space),
pre.shiki span.keyword.conditional:not(.space),
pre.shiki span.keyword.conditional.ternary:not(.space) {
  color: var(--color-cat-mauve)
}

pre.shiki span.keyword.directive:not(.space),
pre.shiki span.keyword.directive.define:not(.space) {
  color: var(--color-cat-pink)
}

pre.shiki span.keyword.export:not(.space) {
  color: var(--color-cat-sky)
}

pre.shiki span.punctuation:not(.space),
pre.shiki span.punctuation.delimiter:not(.space),
pre.shiki span.punctuation.bracket:not(.space) {
  color: var(--color-cat-overlay2)
}

pre.shiki span.punctuation.special:not(.space) {
  color: var(--color-cat-pink)
}

pre.shiki span.punctuation.special.symbol:not(.space) {
  color: var(--color-cat-flamingo)
}

pre.shiki span.punctuation.list_marker:not(.space) {
  color: var(--color-cat-teal)
}

pre.shiki span.comment:not(.space),
pre.shiki span.comment.doc:not(.space),
pre.shiki span.comment.documentation:not(.space) {
  color: var(--color-cat-overlay2)
}

pre.shiki span.comment.info:not(.space) {
  color: var(--color-cat-teal)
}

pre.shiki span.comment.error:not(.space) {
  color: var(--color-cat-red)
}

pre.shiki span.comment.warning:not(.space),
pre.shiki span.comment.warn:not(.space) {
  color: var(--color-cat-yellow)
}

pre.shiki span.comment.hint:not(.space) {
  color: var(--color-cat-blue)
}

pre.shiki span.comment.todo:not(.space) {
  color: var(--color-cat-flamingo)
}

pre.shiki span.comment.note:not(.space) {
  color: var(--color-cat-rosewater)
}

pre.shiki span.diff.plus:not(.space) {
  color: var(--color-cat-green)
}

pre.shiki span.diff.minus:not(.space) {
  color: var(--color-cat-red)
}

pre.shiki span.parameter:not(.space) {
  color: var(--color-cat-maroon)
}

pre.shiki span.field:not(.space) {
  color: var(--color-cat-lavender)
}

pre.shiki span.namespace:not(.space) {
  color: var(--color-cat-yellow)
}

pre.shiki span.float:not(.space) {
  color: var(--color-cat-peach)
}

pre.shiki span.symbol:not(.space) {
  color: var(--color-cat-pink)
}

pre.shiki span.string.regex:not(.space) {
  color: var(--color-cat-peach)
}

pre.shiki span.text:not(.space) {
  color: var(--color-cat-text)
}

pre.shiki span.emphasis.strong:not(.space),
pre.shiki span.emphasis:not(.space),
pre.shiki span.embedded:not(.space) {
  color: var(--color-cat-maroon)
}

pre.shiki span.text.literal:not(.space) {
  color: var(--color-cat-green)
}

pre.shiki span.concept:not(.space) {
  color: var(--color-cat-sapphire)
}

pre.shiki span.enum:not(.space) {
  color: var(--color-cat-teal)
}

pre.shiki span.function.decorator:not(.space) {
  color: var(--color-cat-peach)
}

pre.shiki span.type.class.definition:not(.space) {
  color: var(--color-cat-yellow)
}

pre.shiki span.hint:not(.space) {
  color: var(--color-cat-overlay1)
}

pre.shiki span.link_text:not(.space) {
  color: var(--color-cat-lavender)
}

pre.shiki span.link_uri:not(.space) {
  color: var(--color-cat-blue)
}

pre.shiki span.parent:not(.space) {
  color: var(--color-cat-peach)
}

pre.shiki span.predictive:not(.space) {
  color: var(--color-cat-overlay0)
}

pre.shiki span.predoc:not(.space) {
  color: var(--color-cat-red)
}

pre.shiki span.primary:not(.space) {
  color: var(--color-cat-maroon)
}

pre.shiki span.tag.doctype:not(.space) {
  color: var(--color-cat-mauve)
}

pre.shiki span.string.doc:not(.space) {
  color: var(--color-cat-teal)
}

pre.shiki span.title:not(.space) {
  color: var(--color-cat-text)
}

pre.shiki span.variant:not(.space) {
  color: var(--color-cat-red)
}
